<h1 class="title_h1"><%= t(".edit_user") %></h1>

<%= form_with model: @user, url: user_path, local: true do |edit| %>
  <div class="mb-3">
    <%= edit.label t(".name"), for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= edit.text_field :name, class: "form-control", placeholder: t(".name") %>
  </div>
  <div class="mb-3">
    <%= edit.label t(".email"), for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= edit.email_field :email, class: "form-control", placeholder: "email@example.com" %>
  </div>
    <div class="mb-3">
    <%= edit.label t(".birthday"), for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= edit.date_field :birthday, class: "form-control", placeholder: t(".birthday") %>
  </div>
  <div class="mb-3">
    <%= edit.label t(".address"), for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= edit.text_field :address, class: "form-control", placeholder: t(".address") %>
  </div>
  <div class="mb-3">
    <%= edit.label t(".password"), for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= edit.password_field :password, class: "form-control", placeholder: t(".password") %>
  </div>
    <div class="mb-3">
    <%= edit.label t(".password_confirmation"), for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= edit.password_field :password_confirmation, class: "form-control", placeholder: t(".password_confirmation") %>
  </div>

  <%= edit.submit t(".submit"), class: "btn btn-success"  %>
<% end %>