<h1 class="title_h1">Edit User</h1>

<%= form_with model: @user, url: user_path, local: true do |edit| %>
  <div class="mb-3">
    <%= edit.label :name, for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= edit.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= edit.label :email, for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= edit.email_field :email, class: "form-control" %>
  </div>
    <div class="mb-3">
    <%= edit.label :birthday, for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= edit.date_field :birthday, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= edit.label :address, for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= edit.text_field :address, class: "form-control"%>
  </div>
  <div class="mb-3">
    <%= edit.label :password, for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= edit.password_field :password, class: "form-control", placeholder: "Password" %>
  </div>
    <div class="mb-3">
    <%= edit.label :password_confirmation, for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= edit.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation" %>
  </div>

  <%= edit.submit "Submit", class: "btn btn-success"  %>
<% end %>