<h1 class="title_h1"><%= t(".list_user") %></h1>
<% if current_user.role == "admin" %>
  <%= link_to t(".create_user"), admin_new_users_path, class: "btn btn-success", style: "margin-top: 50px" %>
<% end %>

<table class="table">
  <tr>
    <th><%= t(".name")%></th>
    <th><%= t(".email")%></th>
    <th><%= t(".birthday")%></th>
    <th><%= t(".address")%></th>
    <th><%= t(".action")%></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.birthday %></td>
      <td><%= user.address %></td>
      <% if current_user.admin? %>
        <td>
          <%= link_to t(".profile"), user_path(user), class: "btn btn-success" %>
          <%= link_to t(".edit"), edit_user_path(user), class: "btn btn-success" %>
          <%= button_to t(".delete"), user_path(user), method: :delete, class: "btn btn-danger" %>
        </td>  
      <% else %>
        <% if current_user.id == user.id %>
          <td>
            <%= link_to t(".profile"), user_path(user), class: "btn btn-success" %>
          </td>
        <% end %>
      <% end %>  
    </tr>
  <% end %>
</table>
