<h1 class="title_h1">Sign Up</h1>

<%= form_with model: @user, url: signup_path, local: true do |signup| %>
  <div class="mb-3">
    <%= signup.label :name, for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= signup.text_field :name, class: "form-control", placeholder: "Cristiano Ronaldo" %>
  </div>
  <div class="mb-3">
    <%= signup.label :email, for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= signup.email_field :email, class: "form-control", placeholder: "ronaldo@example.com" %>
  </div>
    <div class="mb-3">
    <%= signup.label :birthday, for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= signup.date_field :birthday, class: "form-control", placeholder: "Birthday" %>
  </div>
  <div class="mb-3">
    <%= signup.label :address, for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= signup.text_field :address, class: "form-control", placeholder: "Address" %>
  </div>
  <div class="mb-3">
    <%= signup.label :password, for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= signup.password_field :password, class: "form-control", placeholder: "Password" %>
  </div>
    <div class="mb-3">
    <%= signup.label :password_confirmation, for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= signup.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation" %>
  </div>

  <%= signup.submit "Sign Up", class: "btn btn-success"  %>
<% end %>