<h1 class="title_h1"><%= t(".create_user") %></h1>
<%= form_with model: @user, url: users_path, local: true do |new| %>
  <div class="mb-3">
    <%= new.label t(".name"), for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= new.text_field :name, class: "form-control", placeholder: t(".name") %>
    <div class="messages_errors">
      <% @user.errors.full_messages_for(:name).each do |message|%>
        <%= message %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= new.label t(".email"), for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= new.email_field :email, class: "form-control", placeholder: "email@example.com" %>
    <div class="messages_errors">
      <% @user.errors.full_messages_for(:email).each do |message|%>
        <%= message %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= new.label t(".birthday"), for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= new.date_field :birthday, class: "form-control", placeholder: t(".birthday") %>
    <div class="messages_errors">
      <% @user.errors.full_messages_for(:birthday).each do |message|%>
        <%= message %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= new.label t(".address"), for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= new.text_field :address, class: "form-control", placeholder: t(".address") %>
    <div class="messages_errors">
      <% @user.errors.full_messages_for(:address).each do |message|%>
        <%= message %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= new.label t(".password"), for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= new.password_field :password, class: "form-control", placeholder: t(".password") %>
    <div class="messages_errors">
      <% @user.errors.full_messages_for(:password).each do |message|%>
        <%= message %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= new.label t(".password_confirmation"), for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= new.password_field :password_confirmation, class: "form-control", placeholder: t(".password_confirmation") %>
    <div class="messages_errors">
      <% @user.errors.full_messages_for(:password).each do |message|%>
        <%= message %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= new.label t(".role"), for: "exampleDropdownFormPassword1"%></br>
    <%= new.radio_button :role, "admin" %>
    <%= new.label t(".admin"), for: "exampleDropdownFormPassword1" %>
    <%= new.radio_button :role, "user_normal" %>
    <%= new.label t(".normal"), for: "exampleDropdownFormPassword1" %>
  </div>
  <%= new.submit t(".submit"), class: "btn btn-success"  %>
<% end %>
