<h1 class="title_h1"><%= t(:create_user, scope: [:users, :index]) %></h1>

<%= form_with model: @user, url: users_path, local: true do |new| %>
  <div class="mb-3">
    <%= new.label t(:name, scope: [:users, :edit]), for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= new.text_field :name, class: "form-control", placeholder: t(:name, scope: [:users, :edit]) %>
    <% @user.errors.full_messages.each do |m| %>
      <div>
        <%= m %>
      <div>
    <% end %>
  </ul>
  </div>
  <div class="mb-3">
    <%= new.label t(:email, scope: [:password_resets, :new]), for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= new.email_field :email, class: "form-control", placeholder: "email@example.com" %>
  </div>
    <div class="mb-3">
    <%= new.label t(:birthday, scope: [:users, :edit]), for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= new.date_field :birthday, class: "form-control", placeholder: t(:birthday, scope: [:users, :edit]) %>
  </div>
  <div class="mb-3">
    <%= new.label t(:address, scope: [:users, :edit]), for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= new.text_field :address, class: "form-control", placeholder: t(:address, scope: [:users, :edit]) %>
  </div>
  <div class="mb-3">
    <%= new.label t(:password, scope: [:password_resets, :edit]), for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= new.password_field :password, class: "form-control", placeholder: t(:password, scope: [:password_resets, :edit]) %>
  </div>
  <div class="mb-3">
    <%= new.label t(:password_confirmation, scope: [:password_resets, :edit]), for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= new.password_field :password_confirmation, class: "form-control", placeholder: t(:password_confirmation, scope: [:password_resets, :edit]) %>
  </div>

  <div class="mb-3">
    <%= new.label :role, for: "exampleDropdownFormPassword1"%></br>
    <%= new.radio_button :role, "admin" %>
    <%= new.label :admin, for: "exampleDropdownFormPassword1" %>
    <%= new.radio_button :role, "user_normal" %>
    <%= new.label :normal, for: "exampleDropdownFormPassword1" %>
  </div>

  <%= new.submit t(:submit, scope: [:users, :edit]), class: "btn btn-success"  %>
<% end %>