<h1 class="title_h1">Manager User</h1>

<%= link_to "Create new User", new_user_path, class: "btn btn-success", style: "margin-top: 50px" %>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Birthday</th>
    <th>Adress</th>
    <th>Action</th>
  </tr>

  <% @user.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.birthday %></td>
      <td><%= user.address %></td>
      <td>
        <%= link_to "Edit", edit_user_path(user), class: "btn btn-success" %>
        <%= link_to "Delete", users_destroy_path(user), class: "btn btn-danger" %>
      </td>
    </tr>
  <% end %>
</table>