<div class="mb-3">
  <%= search_form_for @q do |f| %>
    <%= f.label :name_or_owner_or_members_name_cont, "Search" %>
    <%= f.search_field :name_or_owner_or_members_name_cont, class: "form-control" %>
    <br/>
    Sort
    <%= f.select :s, options_for_select(link_options_sort) %>
    <br/><br/>
    <%= f.submit "Search" %>
  <% end %>
</div>
