<h1 class="title_h1"><%= t(:update_password, scope: [:passwords, :edit])%></h1>

<%= form_with model: Current.user, url: password_path, class: "px-4 py-3" do |update| %>
  <div class="mb-3">
    <%= update.label t(:password, scope: [:password_resets, :edit]), for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= update.password_field t(:password, scope: [:password_resets, :edit]), class: "form-control", id: "exampleDropdownFormPassword1", placeholder: t(:password, scope: [:password_resets, :edit]) %>
  </div>
  <div class="mb-3">
    <%= update.label t(:password_confirmation, scope: [:password_resets, :edit]), for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= update.password_field t(:password_confirmation, scope: [:password_resets, :edit]), class: "form-control", id: "exampleDropdownFormPassword1", placeholder: t(:password_confirmation, scope: [:password_resets, :edit]) %>
  </div>
  <%= update.submit t(:save_changes, scope: [:password_resets, :edit]), class: "btn btn-success" %>
<% end %>