<%= form_for @member do |new| %>
  <div class="mb-3">
    <%= new.label t(".name"), for: "exampleDropdownFormPassword1", class: "form-label" %>
    <%= new.text_field :name, class: "form-control", placeholder: t(".name") %>
    <div class="messages_errors">
      <% @member.errors.full_messages_for(:name).each do |message|%>
        <%= message %>
      <% end %>
    </div>
  </div>
  <%= new.submit t(".submit"), class: "btn btn-success"  %>
<% end %>
