<h1 class="title_h1"><%= t(".profile") %></h1>

<table class="table">
  <tr>
    <th><%= t(".id") %></th>
    <td><%= @member.id %></td>
  </tr>
  <tr>
    <th><%= t(".name") %></th>
    <td><%= @member.name %></td>
  </tr>
</table>
